{% extends "base.html" %}
{% block content %}
      <!-- Main Content (Home page Content) -->
  <!-- spacer --> <br>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="home">
    <h2 class="w3-wide">Joshua Agby</h2>
      <div class="w3-row">
        <img src="/static/images/profile.jpg" class="w3-circle" style="width:35%">
      </div>
    <p class="w3-opacity"><i>Mechanical and Computer Science Engineering Student</i></p>
  </div>

<style>
body {
    background-image: url("/static/images/aurum.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
</style>


{% endblock %}
