{% extends "base.html" %}
{% block content %}
    <head>
            <meta name="description" content="Joshua Agby Personal Website">
            <meta name="keywords" content="HTML,CSS,JSS,Python,Flask,Jinja">
            <meta name="author" content="Joshua Agby">
    </head>
    <title>Joshua Agby personal site main page</title>
    <h1>Joshua Agby Personal Site</h1>

    <div><em>
        Coming soon, early 2017
    </em></div>

    <footer>
        <p>Created by: Joshua Agby</p>
        <p>Contact information: <a href="mailto:joshagby@umich.edu">joshagby@umich.edu</a></p>
        <p>Last Updated: December 15, 2016</p>
    </footer>
{% endblock %}
